    <div class="span4" id="infoBar" style='height: 1640px;'>
    <div id="Div1" class="center">
            <div class="swingRight" id='yellow'>
            <h4>Share the Adventure</h4>
            <g:plusone style="left:-50px;" size="Medium"></g:plusone>
            <a style="left:-50px;"  href="https://twitter.com/share" class="twitter-share-button" data-via="howtoadventures">Tweet</a>
            <a href="https://twitter.com/howtoadventures" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow howtoadventures</a>
            <div id="fb-1" class="fb-like" data-href="http://howtoadventures.com/adventurereview" data-send="false" data-width="200" data-height="20" data-show-faces="true"></div>
            </div>
            <div class='carrotRightY'></div>
            <h2>Featured Items</h2>
            @*Swing In*@
            <div class="swingRight" id='lighterBlue'>
            <h3>Welcome To HowToAdventures.com</h3>
            <iframe style="float: left;" width="90%" height="300" src="http://www.youtube.com/embed/iW6uY8nFjX0" frameborder="0" allowfullscreen="true"></iframe>
            <div class="clear"></div>
            </div>
            <div class="carrotRightB"></div>
            <div class="g4_Post">
            <h3>Featured Vendor<span>Available to sponsors and business users.</span></h3>
            <img width="90%" height="250" src="none" alt="FEATURE" />
            </div>

            <div class="g4_Post">
            <h3>Twitter Feed<span>Displays HTA's twitter feed</span></h3>
            <img width="90%" height="200" src="none" alt="Displays HTA's twitter feed" />
            </div>

            <div class="g4_Post">
            <h3>Google Ads<span>Limited to relevant topics like travel. </span></h3>
            <img width="90%" height="250" src="none" alt="FEATURE" />
            </div>
    </div>
    </div>