
    <fieldset>
        <h3>
            Add More Details</h3>
        <p>
            Do you have more to say? Say it here in your own way with custom fields!</p>
        <label>
            Text Description</label>
        <input class="span3" id="url1" name="url" type="url" placeholder="Custom Field Label">
        <textarea class="span4" id="textarea" name="textarea" rows="10" placeholder="Use this space for long additions"></textarea>
        <span class="help-block">Remember all information shared is subject to the user agreement.</span>
        <label class="checkbox">
            <input type="checkbox">
            This information is common to this adventure.
        </label>
        <button type="submit" class="btn">
            Submit</button>
        <div class="navbar" style="margin-bottom: 10px;">
            <div class="navbar-inner">
                <div class="container">
                    <h1>
                        Suggested Fields</h1>
                    <p>
                        This Tab will be where the Data Cards are displayed.<b>(This section does not exist in the DB structure)</b></p>
                </div>
            </div>
        </div>
        <h3>
            Suggested Fields</h3>
        <p>
            Use these fields for more detialed reviews.</p>
        <label>
            Stipulations</label>
        <textarea class="span4" id="textarea1" name="textarea" rows="10" placeholder="Use this space for long additions"></textarea>
        <span class="help-block">Remember all information shared is subject to the user agreement.</span>
        <label for="date">
            Stipulations</label>
        <div>
            <input id="Text1" name="date" type="text" class="date">
            <br>
            <span class="help-block">What should people look out for?</span>
        </div>
        <button type="submit" class="btn">
            Submit</button>
    </fieldset>
